@page "/easyMode"

@implements IAsyncDisposable

@inject Html5QrcodeReader cameraBarcodeReader

<PageTitle>Easy Mode</PageTitle>

<h2>@foundBarcode</h2>

<div class="mt-2 text-center">
    <div id="reader" class="mx-auto mb-2" style="width:300px">

    </div>
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            cameraBarcodeReader.OnBarcodeScan += HandleBarcodeScanDebounced;
            await cameraBarcodeReader.Render();
            await InvokeAsync(StateHasChanged);
        }
  }
      bool processingScan;
    string? foundBarcode = "Here you will see scanned barcode...";
    public async void HandleBarcodeScanDebounced(string barcode)
    {
        if (processingScan)
            return;
        processingScan = true;
        await HandleBarcodeScan(barcode);
        await Task.Delay(1500);
        processingScan = false;
    }
    public async Task HandleBarcodeScan(string barcode)
    {
        foundBarcode = barcode.Trim();
        await InvokeAsync(StateHasChanged);
    }
    public async ValueTask DisposeAsync()
    {
        cameraBarcodeReader.OnBarcodeScan -= HandleBarcodeScanDebounced;
        await cameraBarcodeReader.Stop();
    }
}
